.navbar-list {
  display: flex;
  justify-content: space-between;
}
.navbar-close {
  display: flex;
}
@media screen and (max-width: 768px) {
  .navbar-close {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: -20rem;
    background-color: rgb(176, 244, 176);
    padding: 1rem;
    height: 20rem;
    width: 20rem;
    transition: all 0.4s;
  }
  .navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: 0rem;
    background-color: rgb(176, 244, 176);
    padding: 1rem;
    height: 20rem;
    width: 20rem;
    transition: all 0.4s;
  }
}
